:root {
    --white-color: hsl(0, 0%, 100%);
    --lightGray-color: hsl(212, 45%, 89%);
    --grayishBlue-color: hsl(220,15%,55%);
    --darkBlue-color: hsl(218,44%,22%);

    --primary-fontsize: 15px;

    --primary-font: "Outfit", sans-serif;

    --weight-400: 400;
    --weight-700: 700;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    background-color: var(--lightGray-color);
    height: 100vh;
    width: 100%;
    
    box-sizing: border-box;
    font-size: var(--primary-fontsize)
}
body, #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    width: 17%;
    height: 55%;
    background-color: var(--white-color);
    border-radius: 25px;
    
}
#image{
    height:57%;
    width:90%;
    border-radius:10px;
    margin-top: 10px;
}
p:first-of-type {
    font-weight: var(--weight-700);
    padding-top: 2.5%;
    font-size: 1.4rem;
}
p{
    
    color: var(--darkBlue-color);
    padding: 0 10%;
    text-align: center;
}

p:last-of-type{
    color: var(--grayishBlue-color);
    font-size: 1rem;
    margin-top: -5px;
    font-weight: var(--weight-400);
}

/* first media query for the max width 720px */
@media screen and (max-width: 500px) {
    #main {
        width: 73%;
        height: 55%;
    }
    #image {
        height: 55%;
        width: 90%;
        margin-top:-20px;
    
    }
    p:first-of-type {
        font-size: 1.4rem;
    }

}